<!DOCTYPE html>
<html>
  <head>
    <title>matching dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_pack_tag "application" %>

    <%= yield :head if content_for?(:head) %>
    <%= content_tag :div, nil, id: "urls",
        data: {
          home: api_home_index_url,
          pairings: api_pairings_url,
        } %>
  </head>

  <body>
    <%= yield %>
    <div id="root"></div>
  </body>
</html>
